.marketing{
    transition: all 0.3 ease;
}

.col-2{
    margin: 0 5rem;
    text-align: center;
}

#light .text:hover{
    color:#287094 !important;
}
#dark .text:hover{
    color:#6096BA !important;
}

.fw-normal{
    text-transform: uppercase;
}