.preguntas-frecuentes {
    background: linear-gradient(rgba(246, 246, 246, 0.8),
            rgba(127, 148, 159, 0.9)),
        url("https://res.cloudinary.com/dberwyxyq/image/upload/v1680266139/SnowPandaCO/FrontEnd/fondo-contacto_cz3hsp.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 60px;
}

.freq-title {
  
    color: #287094;
}

.preguntas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 60px;
}

.pregunta {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

.pregunta:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-5px);
}

.pregunta h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.pregunta p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
}