.orderConfir{
 margin-top: 100px;
    width: 100%;
    height: 100vh;
}

.buttonorder{
  margin: 50px;
  border-radius: 8px;
  height: 40px;
  padding: 10px 20px;
  background-color: #287094;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.buttonorder:hover {
  cursor: pointer;
  background-color: #fff;
  color: #3d3d3d;
  border: 2px solid #3d3d3d;
  }

