.about-us p{
    margin-left: 90px;
    margin-right: 90px;
    font-size: 14px;
    line-height: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#light .about-us p{
    color: #010E13;
}
#dark .about-us p{
    color: #F6F6F6;
}
.aboutUsTitle{
    margin-left: 90px;
    margin-right: 90px;
    font-size: 34px;
    font-weight: bold;
    
    letter-spacing: 2px;
    
}
#light .aboutUsTitle{
    color: #010E13;
}
#dark .aboutUsTitle{
    color: #F6F6F6;
}
#light .aboutUsTitle span{
 color: #287094;
}
#dark .aboutUsTitle span{
    color: #6096BA;
}
.aboutProyecto{
    margin-left: 90px;
    margin-right: 90px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
#light .aboutProyecto{
    color:#010E13;
}

#dark .aboutProyecto{
    color: #F6F6F6;
}