.about-us p{
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 12px;
}
.aboutUsTitle{
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
    color: #010E13;
}
.aboutUsTitle span{
 color: #287094;
}
.aboutProyecto{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: 1px;
}

.button-about{
    display: inline-block;
    text-decoration: none;
    color: #010E13;
    border: none;
    border-radius: 5px;
    border: 1px solid #010E13;
    padding: 10px 40px;
    margin: 20px 0;
    transition: .5s;
}
.button-about:hover{
    background-color: #287094;
    color: #fff;
    border: #287094;
 }