.cardComponent {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
  }
  
  .cardComponent:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  }
  
  .containerId {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .imgBx {
    width: 50%;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  
  /* .imgBx:hover img {
    transform: scale(1.1);
  } */
  
  .imgId {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
  }
  
  .details {
    width: 50%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .details h2 {
    margin-top: 0;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .details .contentId {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .details .pIds {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .cardprice {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .h3Name {
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
  } 

  .buttonback {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #3d3d3d;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .buttonback:hover {
    cursor: pointer;
    background-color: #fff;
    color: #3d3d3d;
    border: 2px solid #3d3d3d;
  } 
  .size-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }
  
  .size-container button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #008CBA;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .size-container button:hover,
  .size-container button:focus {
    cursor: pointer;
    background-color: #005b8e;
  }
  
  .size-container button.selected {
    background-color: #005b8e;
    cursor: default;
  }

  @media (max-width: 550px) {

    .cardComponent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    .containerId {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }  
    .buttonback{
      position: relative;
      left: 0;
      bottom: 0;
    } 
  }