#light .destacado{
    z-index: 10;
    background-color: #7F949F;
}
#dark .destacado{
    z-index: 10;
    background-color: #023246;
}

.destacados{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

