.tiendaCont {
  top: 0;
  margin: 0;
  padding: 0;
}

.carousel-contain {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.botonProducto{

  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 70px;
  border: 2px solid #287094;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #287094;
  transition: 0.5s;
}

.botonProducto:hover{

  background-color: #023246;
  border: 2px solid #023246;
}
