.paginas{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    /* color:white;     */
    margin-left: 35%;
  }
  .numero {
    margin-left: 10px;
    align-items: center;
    display: inline;
    padding: 8px;
    }
    #light .button3 {
      background-color:transparent;
      text-decoration: none;
      margin: 10px;
      border: none;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      margin-top: 10px;
      color: #287094;
      text-transform: uppercase;
      font-weight: bold;
      transition: .5s;
    }
    #dark .button3{
      background-color:transparent;
      text-decoration: none;
      margin: 10px;
      border: none;
      border-radius: 5px;
   
      width: 30px;
      height: 30px;
      margin-top: 10px;
      color: #62696D;
      text-transform: uppercase;
      font-weight: bold;
      transition: .5s;
    }
    
    #light .button3:focus
    {outline:none }
    #dark .button3:focus
    {outline:none }

   #light .button3:hover {
      cursor:pointer;
      color:white;
      background-color: #287094 ;
      /* color: rgb(221, 4, 221)*/
    } 
    #dark .button3:hover {
      cursor:pointer;
      color:white;
      background-color: #62696D ;
      /* color: rgb(221, 4, 221)*/
    } 
    
    #light .button3.active {
      background-color: #287094;
      color: #ffff;
    }
    #dark .button3.active{
      background-color: #62696D;
      color: #ffff;
    }

    #light .prev-next {
      background-color: transparent;
      text-decoration: none;
     margin: 10px;
   
      border: none;
      border-radius: 5px;     
      width: 100%;
      height: 30px;
      margin-top: 10px;
      color: #287094;
      text-transform: uppercase;
      font-weight: bold;
      transition: .5s;
    }  
    #dark .prev-next {
      background-color: transparent;
      text-decoration: none;
     margin: 10px;

      border: none;
      border-radius: 5px;     
      width: 100%;
      height: 30px;
      margin-top: 10px;
      color: #62696D;
      text-transform: uppercase;
      font-weight: bold;
      transition: .5s;
    }  

    
    #light .prev-next:hover {
      cursor:pointer;
      color:white;
      background-color: #287094 ;
      /* color: rgb(221, 4, 221)*/
    }    
    #dark .prev-next:hover {
      cursor:pointer;
      color:white;
      background-color: #62696D ;
      /* color: rgb(221, 4, 221)*/
    }  

    @media (max-width: 650px) {
      .paginas {
        position: absolute;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        margin-top: 5%;
      }
    }
    
