
 #light .marcas {
    margin: 30px auto;
    width: 300px;
    height: 150px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center; 
}
#dark .marcas {
    margin: 30px auto;
    width: 300px;
    height: 150px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(107, 107, 107, 0.25), -5px -5px 30px 7px rgba(107, 107, 107, 0.22);
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#light .marcas{
    background-color: #F6F6F6;
}
#dark .marcas{
    background-color:#9DA5AB ;
}
.marcas .marcas_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    display: block;
    margin: 0 auto;
}

.marcas:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
}
.marcas:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(107, 107, 107, 0.25), 
      -5px -5px 30px 15px rgba(107, 107, 107, 0.22);
}
