.cntHeader {
  margin: 0;
  margin-bottom: -1%;
  padding: 5px;
  z-index: 10000;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #029696;
  backdrop-filter: blur(15px);

}

.imgLogo{
  width: 5rem;
}

.btnUser {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  /*  padding: 0.7em 1.4em;*/
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;

}

.btnUser:hover{
  color: #e440bb;
}

.btnCarrt {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  /*  padding: 0.7em 1.4em;*/
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;

}

.btnCarrt:hover {
  color: #e440bb;
}

.btnHome {

  font-size: 25px;
  color: white;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.active{
  color:#e440bb;
}

.btnHome:hover {
  color: #e440bb;
}

.btnHome:hover:after {
  width: 100%;
  left: 0%;
}

.btnHome:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: white;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
