.cntHeader {
  margin: 0;

  padding: 5px;
  z-index: 10000;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #7F949F;
  backdrop-filter: blur(15px);

}

.imgLogo {
  width: 5rem;
}


.button-AdminManage{
  outline: hidden;
  border: none;
  background-color: transparent;
  padding-top: 9px;
  color: white;
}

.button-AdminManage:hover{
  color: #023246 !important;
}


.drop-null{
  background-color: #7d949f; 
}
.drop-null {
  background-color: #eee;

  /* clip-path: polygon(43% 10%, 100% 10%, 100% 60%, 100% 100%, 0 100%, 0 0, 27% 0); */
  height: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #999;
  transition: all 0.1s ease-in-out;
  text-align: start;
}

.drop-active{
  background-color: #7d949f; 
}

.drop-active {
  background-color: #eee;

  /* clip-path: polygon(43% 10%, 100% 10%, 100% 60%, 100% 100%, 0 100%, 0 0, 27% 0); */
  padding: 15px 30px;
  border-radius: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #fff;
  transition: all 0.1s ease-in-out;
  text-align: start;
}

.drop-active a {
  cursor: pointer;
  color: #fff;
  margin-top: 9px;
}

.drop-active a:hover {
  color: #023246 !important;
}

.btnUser {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;

}

.btnUser:hover {
  color: #023246;
}

.btnCarrt {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  /*  padding: 0.7em 1.4em;*/
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;

}

.btnCarrt:hover {
  color: #023246;
}

.btnHome {

  font-size: 25px;
  color: white;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.active {
  color: #023246;
}

.btnHome:hover {
  color: #023246;
}

.btnHome:hover:after {
  width: 100%;
  left: 0%;
}

.btnHome:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #023246;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}


/* Botonera my profile */


.center {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** Custom Select **/
.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}

.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.custom-select-trigger {
  position: relative;
  display: block;
  width: 130px;
  padding: 0 84px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  line-height: 60px;
  background: #5c9cd8;
  border-radius: 4px;
  cursor: pointer;
}

.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 25px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
  background: #fff;
  transition: all .4s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.custom-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #b5b5b5;
  border-left: 1px solid #b5b5b5;
  background: #fff;
  transform: rotate(45deg);
  transition: all .4s ease-in-out;
}

.option-hover:before {
  background: #f9f9f9;
}

.custom-option {
  position: relative;
  display: block;
  padding: 0 22px;
  border-bottom: 1px solid #b5b5b5;
  font-size: 18px;
  font-weight: 600;
  color: #b5b5b5;
  line-height: 47px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

.custom-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
  background: #f9f9f9;
}

@media only screen and (max-width: 412px) {
  .cntHeader {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    position: sticky;
  }

  .imgLogo {
    width: 4rem;
  }

  .btnHome {
    font-size: 20px;
  }

  .btnUser {
    font-size: 1.2em;
  }

  .btnCarrt {
    font-size: 1.2em;
  }
}