.header {
display: flex;
justify-content: space-around;
align-content: center;
margin: 20px;
}

.header-icons {
    display: flex;
    position: relative;

    font-size: 40px;
    color: rgb(14, 1, 1);

}

.carrito{
    margin: 15px;
}

.linksH {
    color: rgb(12, 0, 0);
    transition: 1s;
    margin: 5px;
}

.linksH:hover {
    color: #BF0426;
    transition: 1s;
}

