.contacto{
  background:linear-gradient( rgb(246, 246, 246, .8),rgba(127, 148, 159, .9)), url("https://res.cloudinary.com/dberwyxyq/image/upload/v1680266139/SnowPandaCO/FrontEnd/fondo-contacto_cz3hsp.jpg"); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
  padding: 30px 60px 80px;
  text-align: left;
  justify-content: space-between;
}

.contenedor-form {

  margin: 30px;
}
.input-container{
  flex-direction: column;
}
.fila{
  margin-bottom: 15px;
}
.mitad{
  display: flex;
  justify-content: space-between;
}
.contenedor-form input,
.contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #287094;
}
 .mitad input{
    width: 48%;
}
.input-full{
    width: 100%;
}

.btn-form{
  display: block;
  text-decoration: none;
  color: #287094;
  border-radius: 30px;
  border: 2px solid #287094;
  padding: 10px 40px;
  margin: auto;
  transition: .5s;
  
}
.btn-form:hover{
  background-color: #287094;
  color: #fff;
  border: #287094;
}