.contacto{
  background:linear-gradient( rgb(246, 246, 246, .8),rgba(127, 148, 159, .9)), url("https://res.cloudinary.com/dberwyxyq/image/upload/v1680266139/SnowPandaCO/FrontEnd/fondo-contacto_cz3hsp.jpg"); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-position: center;
  padding: 30px 60px 80px;
  text-align: left;
  justify-content: space-between;
}

.contenedor-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 15px;
  margin: 30px;  
}
.input-container{
  display: flex;
  flex-direction: column;
}
.fila-message{
  grid-column: 1 / span 2;
  grid-row: 3 / span 3;
  margin-bottom: 15px;
}
.fila-name{
  display: grid;
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  margin-bottom: 10px;
}
.fila-email{
  display: grid;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}
.fila-topic{
  display: grid;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}
.fila-contact{
  display: grid;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  margin-bottom: 10px;
}
.contenedor-form input,
.contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #287094;
}
 .mitad input{
    width: 48%;
}
.input-full{
    width: 100%;
}

.btn-form{
  display: block;
  text-decoration: none;
  color: #287094;
  border: none;
  border-radius: 5px;
  border: 2px solid #287094;
  padding: 10px 40px;
  margin: auto;
  transition: .5s;
  grid-column: 1 / span 2;
  grid-row: 5 / span 5;
  
}
.btn-form:hover{
  background-color: #287094;
  color: #fff;
  border: #287094;
}