
.all_ {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

._filter {
  margin-bottom: 20px;
  z-index: 9999;
  display: flex;
  justify-content: center; 
}

.crt_btn {
  
  margin: 50px;
  border-radius: 8px;
  height: 40px;
  padding: 10px 20px;
  background-color: #287094;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.crt_btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #3d3d3d;
  border: 2px solid #3d3d3d;
}

.cart_manager {
  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

._cardCont {
  width: 28%;
  margin-bottom: 20px;
}

._card {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: all 0.3s ease;
}

._card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.of_cart {
  opacity: 0.5;
  filter: grayscale(100%);
  pointer-events: none;
}

.-imageproduct {
  width: 100%;
  margin-bottom: 10px;
 
}

._img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
 
}

.-infoproduct {
  text-align: center;
  margin-bottom: 20px;
 
}

.price_ {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn_{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  
}

.stock_ {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.stock_ h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100px;
}

.stock_ h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.stock_boardsizes{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: space-between;
}

.stock_numbersizes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.stock_numbersizes h1 {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.stock_numbersizes h2 {
  font-size: 1.2rem;
  margin: 0 1rem;
}

.stock_numbersizes button {
  background-color: #ddd;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 3px;
}

.stock_numbersizes button:hover {
  background-color: #bbb;
}

.stock_numbersizes button:active {
  transform: translateY(2px);
}

.stock_sizes{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
}
.stock_sizes h1 {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.stock_sizes h2 {
  font-size: 1.2rem;
  margin: 0 1rem;
}

.stock_sizes button {
  background-color: #ddd;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 3px;
}

.stock_sizes button:hover {
  background-color: #bbb;
}

.stock_sizes button:active {
  transform: translateY(2px);
}



.botonera {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  color: #fff !important;
}

.-btnbuy { 
  border-radius: 8px;
  height: 40px;
  padding: 10px 20px;
  background-color: #287094;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.-btnbuy:hover {
  cursor: pointer;
  background-color: #fff;
  color: #3d3d3d;
  border: 2px solid #3d3d3d;
}

.fav_ {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fav_:hover {
  transform: scale(1.2);
}

.featured_ {
  color: #f1c40f;
}
  
  .svg {
  width: 30px;
  height: 30px;
  }
  
  .svg_eyes {
  width: 30px;
  height: 30px;
  }
  
  .svg_eyes_disabled {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  }
  
  .of_cart {
  background-color: gray;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }

  @media (max-width: 550px) {

    .cart_manager {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }
    ._cardCont {
      display: flex;
      width: 100%;
      padding: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    } 
    
  }

