/* ===== GOOGLE FONTS =====
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --dark-color-lighten: #f2f5ff;
  --red-card: #a62121;
  --blue-card: #4bb7e6;
  --btn: #141414;
  --btn-hover: #3a3a3a;
  --text: #fbf7f7;
}

/*===== RESET =====*/
.all_background{
  
  width:1900px;
  right: 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr, 4fr)
}



.ms-3{
  
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 columnas con tamaño igual */
  gap: 20px; /* espacio entre las cards */
}
*,
::before{
  margin: 0;
}

::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* button {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  color: var(--text);
  cursor: pointer;
} */

a {
  text-decoration: none;
}

.img_ {
  max-width: 100%;
  height: 100%;
  user-select: none;
}
.mariela{
  position: relative;
  padding: 1rem;
  width: 350px;
  height: 450px;
  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  border-radius: 0.9rem;
  background-color: #0003;
  color: var(--text);
  cursor: pointer;
}

/*//!===== CARD =====*/

 .container_manager {
  
  height: 100%;
  width: 25%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  

}


.card_ {
  position: relative;
  padding: 1rem;
  width: 350px;
  height: 450px;
  box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
  border-radius: 0.9rem;
  background-color: var(--red-card);
  color: var(--text);
  cursor: pointer;
  
}


.product-image {
  height: 230px;
  width: 100%;
  transform: translate(0, -1.5rem);
  transition: transform 500ms ease-in-out;
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}
.product-info {
  text-align: center;
}

.product-info h2 {
  font-size: 1.4rem;
  font-weight: 600;
}
.product-info p {
  margin: 0.4rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.price {
  font-size: 1.2rem;
  font-weight: 500;
}
.btn_ {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.8rem;
}
.buy-btn {
  background-color: var(--btn);
  padding: 0.8rem 3.2rem;
  font-weight: 500;
  font-size: 0.8rem;
  transition: 300ms ease;
}
.buy-btn:hover {
  background-color: var(--btn-hover);
}


.svg {
  height: 25px;
  width: 25px;
  fill: #fff;
  transition: all 500ms ease;
}
.svg_eyes{
  height: 25px;
  width: 25px;
  fill: #0ac92a;
  transition: all 500ms ease;
  
}

.fav:hover .svg_eyes {
  fill: #da0e0e;
  transform: rotate(360deg);
}

.svg_eyes_disabled {
  height: 25px;
  width: 25px;
  fill: #da0e0e;
  transition: all 500ms ease;

}

.fav:hover .svg_eyes_disabled {
  fill: #0ac92a;
  transform: rotate(360deg);
}
.fav {
  box-sizing: border-box;
  background: #fff;
  padding: 0.5rem 0.5rem;
  border: 1px solid#000;
  display: grid;
  place-items: center;
  transition: transform 0.5s;
}

.fav:hover .svg {
  fill: #e7d31c;
  transform: rotate(360deg);
}
.featured {
  box-sizing: border-box;
  background: #e7d31c;;
  padding: 0.5rem 0.5rem;
  border: 1px solid#000;

  display: grid;
  place-items: center;
  transition: transform 0.5s;
  
}

.featured:hover .svg {
  fill: #fff;
  transform: rotate(360deg);
}

@media screen and (max-width: 800px) {
  body {
    height: auto;
  }
  .container_manager {
    padding: 2rem 0;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
   
  }
}

/*//!===== FILTER // CREATE  =====*/
.create_btn{
  color: #f8f8f8;
  background-color: #b9bcf0;
  height: 50px;
}

.Form_edit{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}